*.user*
*.autosave
.builds
build*
Front/build
src/config.hpp
resources/generated
DBBackups
__pycache__
defines.cmake*
.cache

.copies
copies

.copy
.build
build
.vscode
.venv
tmp

dist
node_modules

cmake-kits.json
service-conf.cpp
package-lock.json

version.h
b
misc/ApiTester/setup.js
RUWARE.code-workspace

src/ui/web/openapi/
.openapi-generator
.openapi-generator-ignore
openapi/doc/README.md
openapi/doc/openapi.json

.gitattributes

www/coverage
